.main_section {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
}
.main_section h1 {
  margin-top: 100px;
  margin-bottom: 35px;
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 98%;
  flex-wrap: wrap;
}
.container_div {
  padding: 30px;
  background-color: #302f4e;
  width: 40%;
  margin-bottom: 50px;
  border-radius: 20px;
}
.academic_record,
.programming_record {
  position: relative;
}
.record_container {
  position: relative;
  display: flex;
  justify-content: end;
}
.record,
.record2 {
  width: 90%;
}
.record::after {
  content: "\e019";
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #ff4c60;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.record2::after {
  content: "\e04b";
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #ff4c60;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.line {
  position: absolute;
  width: 1px;
  background-color: #ff4c60;
  top: 30px;
  bottom: 30px;
  left: 42px;
}
@media (max-width: 1100px) and (min-width: 1050px) {
  .main_section {
    margin-left: 200px;
  }
}
@media (max-width: 1050px) {
  .main_section {
    width: 100vw;
    margin-left: 0;
  }
  .main_section h1 {
    margin-left: 20px;
  }
  .container {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .record p,
  .record2 p {
    font-size: 13px;
  }
  .record h3,
  .record2 h3 {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .programming_record,
  .academic_record {
    width: 70% !important;
  }
  .line {
    left: 30px;
  }
  .record::after,
  .record2::after {
    left: -11px;
  }
}
