body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  overflow-x: hidden;
  background: #353353;
}
html {
  height: -webkit-fill-available;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #80808063;
  border-radius: 20px;
}
