.main_section {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
}
.main_section h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.item {
  position: relative;
  cursor: pointer;
  margin: 20px 10px;
  width: 30%;
}
.main_item {
  width: 100%;
  background: white;

  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  height: 220px;
  position: relative;
}
.link_div {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;

  height: 100%;
  background: #7b7be8e6;
  color: white;
  top: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner_link_div {
  height: 80%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inner_link_div2 {
  transition: all 0.6s;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 17px;
  background: #ffd15c;
}
.url {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) and (min-width: 1050px) {
  .main_section {
    margin-left: 200px;
  }
}
@media (max-width: 1050px) {
  .main_section {
    width: 100vw;
    margin-left: 0;
  }
  .main_section h1 {
    margin-left: 20px;
  }
  .container {
    align-self: center;
  }
}
@media (max-width: 768px) and (min-width: 451px) {
  .container {
    justify-content: center;
  }
  .item {
    width: 45%;
  }
}
@media (max-width: 450px) {
  .container {
    justify-content: center;
  }
  .item {
    width: 90%;
  }
  .close_div {
    width: 95%;
  }
}
